body {
    font-family: 'Lato', sans-serif;
    color: #444;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar-toggler {
    color: #fff !important;
}

#main-navigation .navbar-nav .nav-item .nav-link {
    color: #fff;
}

#main-navigation .navbar-nav .nav-item .nav-link:hover,
#main-navigation .navbar-nav .nav-item .nav-link:focus {
    color: #000;
}

#main-navigation .navbar-nav .nav-item .nav-link.active {
    font-weight: 700;
}

.content {
    background-color: #fff;
}

.form-group.required label:after {
    content: "*";
    color: #dc3545;
    font-weight: 700;
}
